.footer-3{
	background-color: #082F59;
	color: white;
	padding-bottom: 10px;
}

.footer-3 a{
	color : #5C7591;
}

.footer-3 .row {
	padding-top: 30px;
}

.footer-3 ul{
	list-style: none;
	  margin: 0; padding: 0;
}

.footer-3 hr{
	background-color: #5C7591;
	color: #5C7591;
	border-color: #5C7591;
}


.footer-3 .button-div{
	padding-top: 80px;
}