body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif; 
   	
}

.crew-1 {
	padding-top: 50px;
}

.crew-1 .top-text {
	padding-bottom: 40px;
}

.crew-1 .single-member h5{
	padding-top: 30px
}

.crew-1 .single-member .social-a{
	  position: relative;
}

.crew-1 .single-member .social-a div {
  display: none;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 350px;
  border-radius: 6px;
  opacity: 0.6;
  background: rgba(200,255,100,.8);

}

.crew-1 .single-member .img-resp{
  height: 200px;
  width: 350px;
}

.crew-1 .single-member .social-a div ul li{
	font-size: 30px;
	margin: 80px 28px;

}
.crew-1 .single-member .social-a div ul li i{
	background-color: black;
 	border-radius: 50%;
 	border: 4x solid;
 	padding: 10px
 	font-size: 1.6em;
 	width: 1.6em;
  	text-align: center;
 	line-height: 1.6em;
}

.crew-1 .single-member .social-a div ul li a:hover{
	cursor: pointer;
	opacity: 1.0;
}

.crew-1 .single-member .social-a:hover div {
  display: block
}

@media(max-width: 400px){
.crew-1 .single-member .social-a div ul li i{
	background-color: black;
 	border-radius: 50%;
 	border: 1x solid;
 	padding: 5px
 	font-size: 1.2em;
 	width: 1.2em;
  	text-align: center;
 	line-height: 1.2em;
}
.crew-1 .single-member .social-a div ul li{
	font-size: 20px;
	margin: 60px 24px;

}
.crew-1 .single-member .social-a div {

  height: 145px;
  width: 252px;


}
.crew-1 .single-member .img-resp{
	 	height: 145px;
  		width: 252px;
}
}

@media only screen and (min-width:401px) and (max-width: 1200px) {
.crew-1 .single-member .social-a div ul li i{
	background-color: black;
 	border-radius: 50%;
 	border: 3x solid;
 	padding: 7px
 	font-size: 1.5em;
 	width: 1.5em;
  	text-align: center;
 	line-height: 1.5em;
}
.crew-1 .single-member .social-a div ul li{
	font-size: 20px;
	margin: 70px 29px;

}
.crew-1 .single-member .social-a div {

  height: 180px;
  width: 300px;


}
.crew-1 .single-member .img-resp{
  height: 180px;
  width: 300px;

}
}